{#
/* @var $this yii\web\View */
/* @var $model app\models\Order */
#}
{{ set(this, 'title', lang('app', 'Create order')) }}
{{ set(this, 'params', { 'breadcrumbs' : [{ 'label' : lang('app', 'Orders'), 'url': '/order' }, {'label' : this.title }] }) }}

<div class="order-create">

    <div class="bg-white">
    <h3>Страница добавления заказа</h3><hr />
    {{ this.render('_form.twig', {
        'model': model,
    }) | raw }}
    </div>
</div>