{#
/* @var $this yii\web\View */
/* @var $model app\models\Order */
#}
{{ set(this, 'title', lang('app', 'Update contact')) }}
{{ set(this, 'params', { 'breadcrumbs' : [{ 'label' : lang('app', 'Contacts'), 'url': '/customer' }, {'label' : this.title }] }) }}

<div class="order-update">

    <div class="bg-white">
    <h3>Страница редактирования контакта</h3><hr />
    {{ this.render('_form.twig', {
        'model': model,
    }) | raw }}
    </div>
</div>
